apiVersion: apps/v1
kind: Deployment
metadata:
  name: quote-server
  namespace: quoteline-dev
  labels:
    app: quote-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quote-server
  template:
    metadata:
      labels:
        app: quote-server
      spec:
        imagePullSecrets:
          - name: ghcr-pull-secret
        containers:
          - name: quote-server
            image: ghcr.io/quoteline/quoteline:latest
            imagePullPolicy: Always
            ports:
              - containerPort: 8080
            env:
              - name: SPRING_PROFILES_ACTIVE
                value: "dev"